<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-1 col-sm-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="concepts">Concepts</a></li>
                    <li><a routerLink="addclass">Add Class</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-8">
                <h5>Our Address</h5>
                <address>
                  COMSATS University<br>
                  Park Road<br>
                  Islamabad<br>
                  Phone: -----------<br>
                  Fax: --------------<br>
                 Email: 
                  <a href="mailto:rahid@test.net">rashid@test.net</a>
                </address>
            </div>
            
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p>© Copyright 2020 COMSATS University Islamabad</p>
            </div>
        </div>
    </div>
</footer>
