<div class="row row-content">
    <div class="col-12 col-sm-9">
        <h2>List of Classes</h2>
    </div>
     <div class="col-12 col-sm-3">
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>&nbsp;</th>
                    <th>Class Name</th>
                    <th>Teacher</th>
                    <th>Registered Students</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cl of classes let i=index">
                    <td>{{i+1}}</td>
                    <td>{{cl.name}}</td>
                    <td>{{cl.teacher.name}}</td>
                    <td><span *ngFor="let st of cl.students">{{st.sid.name}},</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
